<div class="container">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Kingston_Business_School_Logo.svg/1200px-Kingston_Business_School_Logo.svg.png" width="80" height="90" class="d-inline-block align-top" alt="">
      <h1 class="d-inline-block" style="margin-top: 1rem;margin-left: 1rem;" > Welcome To My School</h1>
    </a>
  </nav>
    <nav class="navbar navbar-dark bg-dark nav nav-pills nav-fill  " >
        <a class="btn btn-secondary nav-link"  routerLink="/teachers">Teachers</a>
        <a class="btn btn-secondary nav-link" routerLink="/pupils">Pupils</a>
        <a class="btn btn-secondary nav-link " routerLink="/employees">Employees</a>
    </nav>
    <router-outlet></router-outlet>
</div>